.bg-custom {
    background-color: #f0f0f0; /* Light gray background color */
}

.table-custom {
    border-radius: 10px; /* Rounded corners for the table */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect for the table */
}

/* Center the h3 heading */
h3.text-center {
    text-align: center;
}

/* Margin bottom for the buttons */
.btn {
    margin-bottom: 5px;
}
